.login {
  width: 350px;
  height: 400px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  text-align: left;
  margin-left: 10%;
  position: absolute;
  top: 15%;
}
.login > h1{
  font-family: 'Poppins', sans-serif;
}
.login > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
  
}
.wrapper {
  width: 100%;
  outline: none;
  border-radius: 8px;
  border: 2px solid #dddfe2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
  
}
.wrapper > input {
  
  
  color: #1d2129;
  margin: 0.5rem 0;
  width: 92%;
  border: none;
  outline: none;
  font-size: 1rem;
  
  
}

.login >span {
  cursor: pointer;
 
  transform: translate(0,-50%);
}

.button{
  background: #35334d;
  width: 350px;
  height: 40px;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 2rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  position: absolute;
  left: 1.25rem;
}  
 .button1{
 float: right;
  background-color: white;
  border: none;
  color: #486cf5;
  margin-top: 0.5rem;
  cursor: pointer;
} 
.cover{
  background-image: linear-gradient(
    to bottom,
    #6f6f81 0%,
    #6f6f81 60%,
    #ffffff 60%,
    #ffffff 100%
  );
 
}
.imgpic{
  height: 450px;
  width: 600px;
 
  margin-left: 40%;
  margin-top: 7.77%;
   
  
}
